@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400&display=swap");
:root {
  --font-primary: 'Oxanium', cursive;
  --font-sans-serif: "Lato", sans-serif;
  --color-dark: #58748C;
  --color-primary: #7B92A6;
  --color-primary-light: #9aabbb;
  --color-font: rgba(255, 255, 255, .7);
  --color-accent-light: #EADBDB;
  --color-accent: #D9B0B0;
  --color-accent-dark: #c59595;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font);
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  padding: 5rem 4rem 3rem 4rem;
  background-color: var(--color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__icon {
  width: 8rem;
  height: 8rem;
  fill: var(--color-accent);
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.2));
}

.header .heading-primary {
  font-family: var(--font-sans-serif);
  font-weight: 900;
  letter-spacing: -3px;
  font-size: 6rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--color-light);
  margin: 0;
}

.header .heading-subtext {
  font-family: var(--font-sans-serif);
  font-weight: 100;
  margin: -.5rem 0 0 0;
  font-size: 1.8rem;
}

.main {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  background-color: var(--color-accent);
  width: 30rem;
  height: 45rem;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 8rem (1fr)[5];
      grid-template-rows: 8rem repeat(5, 1fr);
  grid-gap: 1rem;
}

.calculator > * {
  outline: none;
  border-radius: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.calculator > *:hover {
  background-color: var(--color-accent-dark);
}

.calculator .number {
  background-color: var(--color-accent-light);
}

.calculator .number:hover {
  background-color: var(--color-accent-dark);
}

.calculator .result {
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  grid-column: 1/-1;
  color: var(--color-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.calculator .active {
  background-color: var(--color-accent-dark);
}

.calculator button {
  font-family: inherit;
  font-size: 2rem;
}

.calculator .clear {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.calculator #number-9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.calculator #number-8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calculator #number-7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.calculator #number-6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.calculator #number-5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calculator #number-4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.calculator #number-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.calculator #number-2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calculator #number-1 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.calculator #number-0 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.footer {
  padding: 2rem 0;
  background-color: var(--color-dark);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright {
  font-family: var(--font-sans-serif);
  color: var(--color-font);
  font-weight: 100;
  font-size: 1.6rem;
  margin: 0;
}

.footer__nav {
  margin-bottom: 3px;
}

.footer__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__nav-item {
  padding: 0rem 1rem;
}

.footer__nav-link {
  color: var(--color-font);
  text-decoration: none;
  font-family: var(--font-sans-serif);
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.footer__nav-link:hover {
  color: var(--color-primary);
}

.themes__list {
  text-align: right;
  position: absolute;
  top: 85%;
  right: 0%;
  list-style: none;
  margin: 0;
  background-color: var(--color-dark);
  width: 100%;
  padding-bottom: 2rem;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.themes__item {
  display: inline-block;
  opacity: 0;
  font-family: var(--font-sans-serif);
  font-size: 1.8rem;
  font-weight: 100;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .7rem 1.5rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5rem;
}

.themes__item:hover {
  background-color: var(--color-primary);
}

.themes__item:hover .heart-icon {
  fill: rgba(255, 255, 255, 0.7);
}

.themes__item .heart-icon {
  margin-left: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke: rgba(255, 255, 255, 0.7);
  fill: transparent;
}

.themes__item--active .heart-icon {
  fill: rgba(255, 255, 255, 0.7);
}

.themes__checkbox {
  display: none;
}

.themes__checkbox:checked ~ .themes__list {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.themes__checkbox:checked ~ .themes__list .themes__item {
  -webkit-transition: scale, opacity .4s ease-in-out .3s, color .2s, -webkit-transform;
  transition: scale, opacity .4s ease-in-out .3s, color .2s, -webkit-transform;
  transition: transform, scale, opacity .4s ease-in-out .3s, color .2s;
  transition: transform, scale, opacity .4s ease-in-out .3s, color .2s, -webkit-transform;
  opacity: 1;
}

.themes__checkbox:checked ~ .themes__label {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  background-color: var(--color-accent);
}

.themes__label {
  font-family: var(--font-sans-serif);
  font-weight: 900;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  color: var(--color-light);
  background-color: var(--color-primary);
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.themes__label:hover {
  background-color: var(--color-accent-dark);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
/*# sourceMappingURL=style.css.map */