:root {
    --font-primary: 'Oxanium', cursive;
    --font-sans-serif: "Lato", sans-serif;
    --color-dark: #58748C;
    --color-primary: #7B92A6;
    --color-primary-light: #9aabbb;
    --color-font: rgba(255, 255, 255, .7);
    --color-accent-light: #EADBDB;
    --color-accent: #D9B0B0;
    --color-accent-dark: #c59595;
}

// defaultIsBoring
// --color-dark: #58748C;
// --color-primary: #7B92A6;
// --color-primary-light: #9aabbb;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #EADBDB;
// --color-accent: #D9B0B0;
// --color-accent-dark: #c59595;

// iceCreamTuesday
// --color-dark: #A080E8;
// --color-primary: #bea2ff;
// --color-primary-light: #e5c2ff;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #acece8;
// --color-accent: #75e6de;
// --color-accent-dark: #52b4ae;

// funnyHatsFriday
// --color-dark: #460273;
// --color-primary: #7C17BF;
// --color-primary-light: #9f4dd6;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #ffef9d;
// --color-accent: #F2D22E;
// --color-accent-dark: #F2B705;

// javascriptIsFun
// --color-dark: #323232;
// --color-primary: #3c3c3c;
// --color-primary-light: #545454;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #e7be64;
// --color-accent: #de9700;
// --color-accent-dark: #c98900;

// needMoreCoffee
// --color-dark: #4d3f35;
// --color-primary: #8b7a62;
// --color-primary-light: #DBCDAD;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #9ed1cf;
// --color-accent: #72BAB8;
// --color-accent-dark: #62a3a1;