:root {
    --font-primary: 'Oxanium', cursive;
    --color-background: mediumpurple;
    --color-font: rgba(255, 255, 255, .8);
    --color-calculator: rgb(94, 61, 161);
    --color-operators: rgb(206, 124, 162);
}