:root {
    --font-primary: 'Oxanium', cursive;
    --font-sans-serif: "Lato", sans-serif;
    --color-dark: #58748C;
    --color-primary: #7B92A6;
    --color-primary-light: #9aabbb;
    --color-font: rgba(255, 255, 255, .7);
    --color-accent-light: #EADBDB;
    --color-accent: #D9B0B0;
    --color-accent-dark: #c59595;
}

// needMoreCoffee
// --color-dark: #4d3f35;
// --color-primary: #8b7a62;
// --color-primary-light: #DBCDAD;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #9ed1cf;
// --color-accent: #72BAB8;
// --color-accent-dark: #62a3a1;

// defaultIsBoring
// --color-dark: #58748C;
// --color-primary: #7B92A6;
// --color-primary-light: #9aabbb;
// --color-font: rgba(255, 255, 255, .7);
// --color-accent-light: #EADBDB;
// --color-accent: #D9B0B0;
// --color-accent-dark: #c59595;

// iceCreamTuesday
// --color-dark: #8784aa;
// --color-primary: #81b6b2;
// --color-primary-light: #f1d6f1;
// --color-font: #EEF6C3;
// --color-accent-light: #EEF6C3;
// --color-accent: #F4C1F2;
// --color-accent-dark: #da96d7;